<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_fitness_center"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_fitness_center"
        android:supportsRtl="true"
        android:theme="@style/Theme.FitnessMVP">

        <!-- App abre direto no Dashboard -->
        <activity
            android:name=".ui.DashboardActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.FitnessMVP.Dashboard">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.WorkoutActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".ui.RestActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.FeedbackActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

    </application>

</manifest>
